# ========================================ENVIRONMENT========================================

# =========================================BOT===============================================
BOT_TOKEN=GET-TOKEN-FROM-BOT-FATHER
# =========================================BOT===============================================

# =========================================LOGGING===========================================
MAIN_LOGGER_NAME=bot
LOGGING_LEVEL=ERROR
# =========================================LOGGING===========================================

# ==========================================DOCKER===========================================
PYTHONPATH=app
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1
# ==========================================DOCKER===========================================

# =========================================DATABASE==========================================
DATABASE_DRIVER=postgresql+asyncpg
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOSTNAME=db
DATABASE_PORT=5432
DATABASE_NAME=postgres
# =========================================DATABASE==========================================

# =========================================REDIS=============================================
REDIS_PORT=6379
REDIS_URL=redis://redis:${REDIS_PORT}
FSM_PORT=6379
FSM_HOSTNAME=fsm
# ==========================================REDIS============================================

# ========================================ENVIRONMENT========================================
